<h2>Current member? Login!</h2>

<form action="/auth/login" method="POST">
    <!-- <input type="text" name="name" placeholder="Name" id="name"></br> -->
    <input type="email" name="email" placeholder="Email" id="email"></br>
    <input type="password" name="password" placeholder="Password" id="password"></br>
    <input type="submit" name="submit" value="Login">
</form>