<h2>New here? Sign Up!</h2>

<form action="/auth/signup" method="POST">
    <div><input type="text" name="name" placeholder="Name" id="new-name"></div>
    <div><input type="email" name="email" placeholder="Email" id="new-email"></div>
    <div><input type="password" name="password" placeholder="Password" id="new-password"></div>
    <div><input type="submit" name="submit" value="Sign Up"></div>
</form>