<form action="/results/<%=loadout.name%>/?_method=PUT" method="POST">
    <h2>
    
        <%=loadout.name %>
        <%= loadout.type %>
        
     </h2>
     
     <p>Attachments</p>
     
     <ul>
         
         <%attachments.forEach(attachment => { %>
             <li><%= attachment.name %></li>
        <% })%>
        <input type="submit" value="Edit">
     
     </ul>
</form>